################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/.vs/ConsoleApp2/copilot-chat/661f7174/sessions
/ConsoleApp2/.vs/ConsoleApp2/CopilotIndices/17.14.1431.25910
/ConsoleApp2/.vs
/.vs
